@media (max-width: 991px) {
    .nota {
        /* En pantallas pequeñas setea el margen derecho de 450px para que el texto ocupe el espacio normal y no expanda la pantalla */
        margin: 15px 0 30px 0;
    }
}

body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #e0e0e0;
    margin: 0; padding: 20px;
}
.container {
    max-width: 1100px; margin: 0 auto;
    background: #2b2b2b; padding: 20px; border-radius: 8px;
}
h1, h2 { color: #ffcb05; }
h1 {
    text-align: center;
}

.form-group { display: flex; flex-direction: column; }
label { margin-bottom: 5px; font-weight: bold; }
select, input[type="number"] {
    background: #3d3d3d; color: white; border: 1px solid #555;
    padding: 8px; border-radius: 4px;
}

.checkboxes { 
    background-color: rgba(255,255,255,0.1);
    border-radius: 8px;
    border: 1px solid #555;
    padding: 15px;
}
.checkboxes label {
    display: flex; align-items: center; gap: 10px; font-weight: normal; margin-bottom: 8px;
}
.nota {
    display: flex;
    font-weight: bold;
    font-size: medium;
    text-align: justify;
    color: #ffcb05;
    margin: 0 450px 30px 0;
}
button {
    background-color: #3b4cca; color: white; border: none; padding: 12px 20px;
    font-size: 16px; border-radius: 4px; cursor: pointer; font-weight: bold; width: 100%;
}
button:hover { background-color: #2a3a9c; }
table { width: 100%; border-collapse: collapse; margin-bottom: 20px; }
th, td { border: 1px solid #444; padding: 10px; text-align: left; }
th { background-color: #ffcb05; color: #1e1e1e; }
.json-output {
    width: 100%; height: 150px; background: #121212; color: #a6e22e;
    font-family: monospace; border: 1px solid #333; padding: 10px; resize: vertical;
}
.pokemon-card {
    background: #333; border: 1px solid #555; padding: 15px;
    border-radius: 6px; margin-bottom: 20px;
}